<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Tournament</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon-40@3x.png</string>
				<string>Icon-60@3x.png</string>
				<string>/Users/edgardoagno/Documents/TournamentBrackets/TournamentBrackets/Assets.xcassets/AppIcon.appiconset/Icon-60@3x.png</string>
				<string>Icon-60@3x</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SCHD</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.edgardoagno.schd</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.03</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.06</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Rounded_Elegance.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>AnotherLaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Tournament Group</string>
			<key>UTTypeIdentifier</key>
			<string>com.edgardoagno.schd</string>
			<key>UTTypeSize320IconFile</key>
			<string>Icon-60@3x</string>
			<key>UTTypeSize64IconFile</key>
			<string>Icon-60@3x</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>schd</string>
					<string>SCHD</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
